body{
    background:#E5E8ED;
    font-family: 'Source Sans Pro', sans-serif;
}

/* ALL */
.content{
    font-weight: 300 !important;
    font-size:15px;
    margin-top:45px;
}

.title h1{
    font-size:35px;
    margin:0;
    color:#41C7ED;
    font-weight: 300;
}

p{
    margin:0;
}

.btn-primary{
    background:#14B9D5;
    border-color:#14B9D5;
    -webkit-transition: background-color .25s ease;
    -moz-transition: background-color .25s ease;
    -o-transition: background-color .25s ease;
    -ms-transition: background-color .25s ease;
    transition: background-color .25s ease;
}

.btn-primary:hover{
    background:#119FB9;
    border-color:#119FB9;
}

.btn-link{
    color:#323A45;
}

a:hover{
    text-decoration: none !important;
    color:#fff !important;
}

.border-radius{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/* TABLE INFORMATION */
a.btn-add{
    float:right;
    background:#41C7ED;
    color:#fff;
    padding:5px 30px;
    border-bottom:3px solid #129BC2;
    margin-bottom:20px;
    -webkit-transition: background-color .5s ease-out;
    -moz-transition: background-color .5s ease-out;
    -o-transition: background-color .5s ease-out;
    transition: background-color .5s ease-out;
}

a.btn-add:hover{
   background:#129BC2;
}

.information{
    background:#fff;
    padding:25px 15px 25px 60px;
    margin-bottom:20px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.02);
    -webkit-box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.02);
    -moz-box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.02);
    border-bottom:2px solid #F4AB07;
}

.information .image{
    position:absolute;
    background:#ccc;
    width:80px;
    height:80px;
    left:-40px;
    top:8px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background-size:100%;
    background-position:center center;
    box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.02);
    -webkit-box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.02);
    -moz-box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.02);
}

.table-information h1{
    font-size:18px;
    color:#41C7ED;
    margin:0;
}

.information a.edit{
    display:block;
    background:#2FD29B;
    color:#fff;
    margin-top:10px;
    padding:5px 10px;
    border-bottom:3px solid #26B385;
    -webkit-transition: background-color .5s ease-out;
    -moz-transition: background-color .5s ease-out;
    -o-transition: background-color .5s ease-out;
    transition: background-color .5s ease-out;
}

.information a.edit:hover{
   background:#26B385;
}

.information a.remove{
    display:block;
    background:#EF3A1B;
    color:#fff;
    margin-top:10px;
    padding:5px 10px;
    border-bottom:3px solid #A7230C;
    -webkit-transition: background-color .5s ease-out;
    -moz-transition: background-color .5s ease-out;
    -o-transition: background-color .5s ease-out;
    transition: background-color .5s ease-out;
}

.information a.remove:hover{
    background:#A7230C;
}
/* END TABLE INFORMATION */

@media(max-width:767px){
    .mobile-center{
        text-align:center;
    }
}
/* END ALL*/

/* LOGIN */
.panel-default{
    margin-top:100px;
    border:none;
    box-shadow: 5px 5px 10px #C4CBD7;
    -webkit-box-shadow: 5px 5px 10px #C4CBD7;
    -moz-box-shadow: 5px 5px 10px #C4CBD7;
}

.panel-default>.panel-heading{
    background-color: #323A45;
    color: #fff;
    text-transform: uppercase;
    padding: 15px;
    text-align: center;
}

.panel-default>.panel-body{
    background:#F2F5FA;
    border-bottom:5px solid #14B9D5;
    padding:33px 15px 20px 15px;
}

.panel-default .form-control{
    background-color: #E3E8EE;
    padding:20px;
}

.panel-default .btn-login{
    width:100%;
    padding:10px;
}

.panel-default .login a{
    width:100%;
    text-align:center;
}
/* FIM LOGIN */

/* TOPO */
.navbar-static-top{
    background-color: #323A45;
}

.navbar-static-top .navbar-nav>li>a,
.navbar-static-top .navbar-nav>.open>a:focus,
.navbar-static-top .navbar-nav>li>a:hover{
    color:#fff !important;
    background-color: transparent;
}
/* FIM TOPO */